@charset "utf-8";

/* Cabeçalho */
.cabecalho_logo{
    height: 110px;
    background-color:   #85C3FF;
    width: 100%;
}
.cabecalho_menu-imagem{
    display: inline-block;
    padding-top: 30px;
    padding-left: 20px;
}
.cabecalho_logo-imagem{
    display: inline;
    float: right;
    padding-right: 30px;
    padding-top: 15px;
}
.cabecalho_menu{
    background-color: #0085FF;
    height: 25px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.664);
    margin-bottom: 10px;
}
.cabecalho_menu-item{
    display: inline;
    text-decoration: none;
    font-size: 12pt;
}
.cabecalho_menu-item a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding-top: 5px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.cabecalho_menu-item a:hover{
    color: #ffffff;
}
.icone{
    display: inline;
}
.cabecalho_imagem-escola{
    border-radius: 50%;
    margin: 40px 560px;
}